.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-footer);
}

.footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

.footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
}

.footer-links-img {
    display: flex;
    flex-direction: column;
}

.footer-links-img img {
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.footer-links-img p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.footer-links-tags h4{
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;
    margin-bottom: 1.5rem;
}

.footer-links-tags p{
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;
    margin: 1.3rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2.2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p { 
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}


@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
    
    .footer-links-img p {
        margin-top: 1rem;
    }

    .footer-links {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links div {
        margin: 1rem 0;
    }

    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}

